/*-----------------  GOOGLE FONTS  -----------------*/

@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;700&family=Zilla+Slab:wght@500;600;700&display=swap');

/*-----------------  BASE  -----------------*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*
body {
  height: 100vh;
  background: #FBF9ED;
  font-family: 'futura-pt', 'jost', sans-serif;
  font-style: normal;
  font-size: 2em;
  font-weight: 400;
  color:#451F27;
}

/*--------------  BACKGROUNDS  --------------*/

#yellow {
  background: repeating-linear-gradient(
    to right,
    #F7E0B2 0%,
    #F7E0B2 15%,
    #F9EACA 15%,
    #F9EACA 30%
  );
}

#red {
  background: repeating-linear-gradient(
    to right,
    #EF967E 0%,
    #EF967E 15%,
    #F3B493 15%,
    #F3B493 30%
  );
}

#blue {
  background: repeating-linear-gradient(
    to right,
    #86D4D3 0%,
    #86D4D3 15%,
    #B4D9C6 15%,
    #B4D9C6 30%
  );
}

#mix {
  background: repeating-linear-gradient(
    to right,
    #86D4D3 0%,
    #86D4D3 15%,
    #F7E0B2 15%,
    #F7E0B2 30%
  );
}

/*--------------  BUTTONS  --------------*/

a {
  font-family: 'Trilby', 'PT Serif', serif;
  font-style: bold;
  font-size: 24px;
  color: #FBF9ED;
  text-decoration: none;
  padding: 10px;
}

button {
  display: block;
  margin: 0 auto;
  background-color: #451F27;
  border: none;
  border-radius: 15px;
  padding: 23px 76px;
  cursor: pointer;
}

#btn_red {
  background-color: #ED7657;
}

#btn_blue {
  background-color: #61C9C8;
}

#btn_role {
  border: 12px solid #ED7657;
  border-radius: 15px;
}

button:hover {
  background-color: #ED7657;
}

/*--------------  FORM  --------------*/

form {
  font-family: futura pt; 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 3rem;
}

input {
  padding: 10px;
  box-sizing: border-box;
}

#text-input {
  border: 2px solid #451F27;
  border-radius: 15px;
  width: 75%;
}

#text-submit {
  font-family: trilby;
  text-transform: uppercase;
  color: #FBF9ED;
  background-color: #61C9C8;
  border: none;
  border-radius: 15px;
}

/*-------------- TEXT --------------*/

h1, h2, h3, h4 {
  font-family: 'Trilby', 'Zilla Slab', serif;
  text-align: center;
  font-weight: 600;
}

h1 {
  font-weight: 900;
  font-size: 48px; 
  color: #FBF9ED;
  padding-top: 15%;
}

h2 {
  font-size: 40px;
  color:#451F27;
}

h3 {
  font-size: 32px;
  color:#451F27;

}

h4 {
  font-size: 24px;
  color: #ED7657;
}

#actor {
  font-size: 64px;
  color:#ED7657;
  -webkit-text-stroke-width: 5px;
  -webkit-text-fill-color: #FBF9ED;
}

#guesser {
  font-size: 64px;
  color: #61C9C8;
  -webkit-text-stroke-width: 5px;
  -webkit-text-fill-color: #FBF9ED;
}

#prompt {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 1.5rem;
  color: var(--gold_color);
  font-weight: 500;
}

/*-------------- OTHER --------------*/

ol {
  margin-left: 20px;
}

li {
  display: inline-block;
}

img {
  display: block;
  margin: 0 auto;
}

video {
  display: block;
  margin: 0 auto;
}

#logo {
  max-width: 100%;
  height: auto;
  padding-top: 15%;
  transform: rotate(-10deg);
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

